/* this is the main CSS file for formatting all of our stuff */

body { background-color: lightslategray; }

h1 
{ 
    text-align: center; 
    color: #333333; 
    font-size: 3em; 
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid #333333;
}

h2 { color: #333333; display: inline-block; padding-right: 1em; }
h3 { margin: 0em; color: #333; }
p { color: #333; margin: 0.5em; margin-bottom: 0em; }

/* for organizing multiple divs onto one line */ 
.content { display: flex; }
.content > div { flex: 1; }

.dev-content 
{ 
    display: none; /* comment this out for debug information */ 
    border: 5px solid #333; 
    margin-top: 1em; 
    margin-bottom: 1em; 
    padding: 1em; 
}

.game-info
{
    border: 5px solid #333; 
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em;
}

/* containers */ 
.game-container 
{ 
    margin-left: 0.5em;
    margin-right: 0.5em;
    border: 5px solid #333333;
    padding: 1em;
}
.slideshow-container
{ border: 5px solid #333; }

/* styling for the live webcam stream */
#webcamStreamContainer 
{
    height: 600px;
    border: 5px #333 solid;
}
#webcamVideoStream 
{
    width: 500px;
    height: 600px;
    background-color: #666;
}

/* styling for the points images */
.pointImage { visibility: hidden; }
.pointImage { width: 10%; height: 10%; }

#moneyText { text-align: center; }
#winText { padding: 2em; text-align: center; visibility: hidden; }
#playerInfo { padding-top: 1.5em; padding-bottom: 1.5em; }

.game-container button { height: 40px; }
#gameplayButtons { padding-top: 1em; text-align: center; }